
<h1>Actualizar datos celular</h1>
<h1> sss <%=nombreFab%></h1><%=nombreFab%>
<%=idFab%>

<%if (idFab){%>
<form action="/celular/editar-celular?id=<%=celular[0].id%>&nombreFab=<%=nombreFab%>&idFab=<%=idFab%>" method="post">
    <table>
        <tr>
            <td><label for="nombre">Nombre: si</label></td>
            <td><input id="nombre" type="text" name="nombre" placeholder="<%=celular[0].nombre%>" value="<%=celular[0].nombre%>"></td>
        </tr>
        <tr>
            <td><label for="modelo">Modelo: </label></td>
            <td><input id="modelo" type="text" name="modelo" placeholder="<%=celular[0].modelo%>" value="<%=celular[0].modelo%>"></td>
        </tr>
        <tr>
            <td><label for="procesador">Procesador: </label></td>
            <td><input id="procesador" type="text" name="procesador" placeholder="<%=celular[0].procesador%>" value="<%=celular[0].procesador%>"></td>
        </tr>
        <tr>
            <td><label for="memoria">Memoria: </label></td>
            <td><input id="memoria" type="number" name="memoria" placeholder="<%=celular[0].memoria%>" value="<%=celular[0].memoria%>"></td>
        </tr>
    </table>
    <button type="submit">Actualizar</button>
    <button type="reset">Reset</button>
</form>
<%}else{%>
<form action="/celular/editar-celular?id=<%=celular[0].id%>" method="post">
    <table>
        <tr>
            <td><label for="nombre">Nombre: </label></td>
            <td><input id="nombre" type="text" name="nombre" placeholder="<%=celular[0].nombre%>" value="<%=celular[0].nombre%>"></td>
        </tr>
        <tr>
            <td><label for="modelo">Modelo: </label></td>
            <td><input id="modelo" type="text" name="modelo" placeholder="<%=celular[0].modelo%>" value="<%=celular[0].modelo%>"></td>
        </tr>
        <tr>
            <td><label for="procesador">Procesador: </label></td>
            <td><input id="procesador" type="text" name="procesador" placeholder="<%=celular[0].procesador%>" value="<%=celular[0].procesador%>"></td>
        </tr>
        <tr>
            <td><label for="memoria">Memoria: </label></td>
            <td><input id="memoria" type="number" name="memoria" placeholder="<%=celular[0].memoria%>" value="<%=celular[0].memoria%>"></td>
        </tr>
    </table>
    <button type="submit">Actualizar</button>
    <button type="reset">Reset</button>
</form>
<%}%>


<a href="/inicio">
    <button>Regresar a inicio</button>
</a>